
@import '../../.cache/wal/colors-waybar.css';

* {
  border: none;
  font-weight: bold;
  font-size: 14.5px;
  font-family: JetBrainsMono Nerd Font ;
}

window#waybar {
  margin: 0px;
  padding: 0px;
  background-color: transparent ;
}

tooltip {
  border-radius: 12px;
  padding: 21px;
  opacity: 0.85;
  border: 2px solid @color10;
  color: @color10;
  background-color: @background;

}
#workspaces,
/* #tags, */
#taskbar,
#custom-updates,
#tray,
#pulseaudio,
#clock,
#custom-notification,
#custom-cava,
#custom-playerctl,
#custom-power {
  padding: 0px 10px;
  margin: 0px;
  margin-top: 6px;
  margin-bottom: 0px;
  border-radius: 14px;
  border-width: 2px;
  border-style: solid;
  background-color: @background;
  color: @color10;
}

#workspaces {
  margin-left: 10px;
  padding-left: 18px;
  padding-right: 8px;
  padding-top: 0;
}
#workspaces button label {
    padding: 0;
    font-size: 0;
    margin: 0;
}

#workspaces button {
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  margin: 8px 0px;
  margin-right: 10px;
  min-height: 0;
  padding: 0;
  min-width: 14px;
  border-radius: 50%;
  transition: 0.2s;
}

#workspaces button.hidden {
  color: #9e906f;
}

#workspaces button:not(.occupied) {
  border-width: 1.8px;
  border-style: solid;
  border-color: @color10;
  color: @color10;

}

#workspaces button:hover {
  background: @color1;
}

#workspaces button.active {
  min-width: 36px;
  border-radius: 12px;
  background-color: @color10;
  color: @background;
}

#workspaces button.urgent {
  background-color: @color4;
  color: @background;
}

#custom-playerctl {
  border-radius: 12px;
  padding: 0px 16px;
}

#custom-cava {
  border-radius: 12px 0px 0px 12px;
  margin-top: 6px;
}

#tray {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 2px;
}

#pulseaudio {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
}

#clock {
  padding: 0px 16px;
}

#custom-notification {
  padding-right: 12px;
  padding-left: 10px;
  padding-top: 2px;
}
#custom-notification.notification{
  padding-right: 10px;
}

#custom-power {
  margin-right: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 3px;
  font-weight: normal;
}
